[buildout]
extends = sources.cfg
newest = true
unzip = true
parts +=
    i18ndude
    instance
    robot
    tags
    zopepy
#   omelette

[instance]
user = admin:secret
verbose-security = on
eggs =
    Plone
    example.uidattrbehavior
zope-conf-additional =
    %import venusianconfiguration
site-zcml =
    <configure
        xmlns="http://namespaces.zope.org/zope"
        xmlns:meta="http://namespaces.zope.org/meta"
        xmlns:five="http://namespaces.zope.org/five">

      <include package="Products.Five" />
      <meta:redefinePermission from="zope2.Public" to="zope.Public" />

      <!-- Load the meta -->
      <include files="package-includes/*-meta.zcml" />
      <five:loadProducts file="meta.zcml"/>
      <includePlugins package="plone" file="meta.py" />

      <!-- Load the configuration -->
      <include files="package-includes/*-configure.zcml" />
      <five:loadProducts />
      <includePlugins package="plone" file="configure.py" />

      <!-- Load the configuration overrides-->
      <includeOverrides files="package-includes/*-overrides.zcml" />
      <five:loadProductsOverrides />
      <includePluginsOverrides package="plone" file="overrides.py" />

      <securityPolicy component="AccessControl.security.SecurityPolicy" />
    </configure>

[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework [reload]

[zopepy]
recipe = zc.recipe.egg
eggs =
    ${instance:eggs}
    ${test:eggs}
    ${robot:eggs}
interpreter = zopepy

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[tags]
# Usage: bin/tags -v -l Python
recipe = z3c.recipe.tag:tags
eggs = ${instance:eggs}
